@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;600;700;900&display=swap');

.hero-section {
  
   min-height: 100%;
    height: auto;
  display: flex;
  position: relative;
width: 100vw;
overflow: hidden;

  align-items: center;
  padding: 4rem 0%;
  font-family: 'Instrument Sans', sans-serif;
  flex-direction:column;
  color: #eceaf4;
  border-radius: 0 0 48px 48px;
  box-shadow: 0 32px 89px 13px rgba(10, 10, 10, 0.9);
  background: radial-gradient(
    circle at 50% 30%,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0.95) 60%,
    rgba(0, 0, 0, 1) 100%
);

 
}

 .Mesh1{
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    height: auto;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
    background-blend-mode: overlay;


    backdrop-filter: blur(50px);
}
.Mesh2{
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 6.25vw;
    min-height: 100%;
    height: auto;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
    background-blend-mode: overlay;

    backdrop-filter: blur(50px);
}
.Mesh3{
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 12.5vw;
    min-height: 100%;
    height: auto;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
    background-blend-mode: overlay;

    backdrop-filter: blur(50px);
    
}

.Mesh4 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 18.75vw;
    min-height: 100%;
    height: auto;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
   background-blend-mode: overlay;
    backdrop-filter: blur(50px);
    
}
.Mesh5 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 25vw;
    min-height: 100%;
    height: auto;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(50px);
}

.Mesh6 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 31.25vw;
    min-height: 100%;
    height: auto;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
   background-blend-mode: overlay;
    backdrop-filter: blur(50px);
}
.Mesh7 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 37.5vw;
    min-height: 100%;
    height: auto;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
    background-blend-mode: overlay;
    backdrop-filter: blur(50px);
}
.Mesh8 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 43.75vw;
    min-height: 100%;
    height: auto;
   background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
    background-blend-mode: overlay;

    backdrop-filter: blur(50px);
}
.Mesh9 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 50vw;
    min-height: 100%;
    height: auto;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
   background-blend-mode: overlay;

    backdrop-filter: blur(50px);
}
.Mesh10 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 56.25vw;
    min-height: 100%;
    height: auto;
   background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
 background-blend-mode: overlay;
    backdrop-filter: blur(50px);
}
.Mesh11 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 62.5vw;
    min-height: 100%;
    height: auto;
   background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
   background-blend-mode: overlay;

    backdrop-filter: blur(50px);
}
.Mesh12 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 68.75vw;
    min-height: 100%;
    height: auto;
   background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
   background-blend-mode: overlay;

    backdrop-filter: blur(50px);
}
.Mesh13 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 75vw;
    min-height: 100%;
    height: auto;
   background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
 background-blend-mode: overlay;

    backdrop-filter: blur(50px);
}
.Mesh14{
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 81.25vw;
    min-height: 100%;
    height: auto;
   background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
 background-blend-mode: overlay;

    backdrop-filter: blur(50px);
}
.Mesh15{
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 87.5vw;
    min-height: 100%;
    height: auto;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
   background-blend-mode: overlay;

    backdrop-filter: blur(50px);
}
.Mesh16 {
    width: 6.25vw;
    position: absolute;
    top: 0;
    left: 93.5vw;
    min-height: 100%;
    height: auto;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.10) 100%, rgba(255, 255, 255, 0.18) 100%);
 background-blend-mode: overlay;
    backdrop-filter: blur(50px);
}
.tri1 {
  position: absolute;
  bottom: 10px;        /* push from bottom */
  right: -40px;         /* push from right */
  transform: rotate(15deg);
  transform-origin: center;
  z-index: -1;
  width: 650px;        /* increased size */
  height: auto; 
  
  filter: brightness(1.2) contrast(1.3) saturate(1.5);

       /* maintain aspect ratio */
}


.tri2 {
  position: absolute;
  top: 100px;          /* position from top */
  left: 60px;          /* position from left */
  transform: rotate(315deg);
  transform-origin: center;
  z-index: -1;
  width: 650px;
  
  filter: brightness(1.2) contrast(1.3) saturate(1.5);


  height: auto;
}


.tri3 {
  position: absolute;
  top: 80px;           /* position from top */
  right: -120px;        /* position from right */
  transform: rotate(235deg);
  transform-origin: center;
  z-index: -1;
  width: 650px;

  filter: brightness(1.2) contrast(1.3) saturate(1.5);


  height: auto;
}

.tri4 {
  position: absolute;
  top: 240px;           /* position from top */
  right: -220px;        /* position from right */
  transform: rotate(135deg);
  transform-origin: center;
  z-index: -1;
  width: 650px;

  filter: brightness(1.2) contrast(1.3) saturate(1.5);


  height: auto;
}



.hero-container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  width: 100%;
  max-width: 1440px; 
  position: relative;
}
.hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 386px; 
  position: relative;
  left: 91px;
  top: 211px; 
  width: 546px;
}

.hero-subtitle {
  font-family: 'Instrument Sans', sans-serif;
  font-size:23px;
  line-height: 1.6;
  color: #eceaf4;
  width: 514px;
  height: 72px;
  margin: 0;
  text-align: left;
}

.hero-title {
  color: #ECEAF4;
  font-family: "Instrument Sans";
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; 
  text-transform: uppercase;
}

.my-element {
  text-box-trim: trim-both;
  text-box-edge: cap alphabetic;
}


.hero-title span {
  color: #5c35f7;
}

.hero-images {
  position: relative;
  width: 1300px;
  height: 1100px; 
  margin-right: 120px;
}

.hero-img {
  position: absolute;
  object-fit: cover;
  border-radius: 16px; 
  transition: transform 0.3s ease;
  border: none; 
  box-shadow: none; 
}

.hero-img.img4 {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
}

.hero-img:hover {
  transform: scale(1.03);
}


.hero-images img:nth-child(1) {
  width: 248.2px;
  height: 372px;
  left: 298px;
  top: 171px;
}


.hero-images img:nth-child(2) {
  width: 267.91px;
  height: 305px;
  left: 634px;
  top: 350px;
}


.hero-images img:nth-child(3) {
  width: 437px;
  height: 324px;
  left: 298px;
  top: 712px;
}


.hero-images img:nth-child(4) {
  width: 130.2px;
  height: 130.2px;
  left: 765px;
  top: 729px;
  object-position: center 50%;
  border: 5px solid rgba(140, 80, 255, 0.6);

}



@media (max-width: 1024px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
  }

  .hero-text {
    left: 0;
    top: 100px;
    align-items: center;
    text-align: center;
  }

  .hero-title {
    font-size: 2.5rem;
    width: 100%;
  }

  .hero-subtitle {
    width: 90%;
  }

  .top-row,
  .bottom-row {
    transform: none;
  }
}

@media (max-width: 768px) {
  .hero-img {
    width: 150px;
    height: 180px;
  }

  .hero-title {
    font-size: 2rem;
  }
}
