.myTeamCard{
  width: 15vw;
  /* height: 20vh; */
  border-radius: 0.45831rem;
  border: 0.917px solid rgba(220, 220, 220, 0.70);
  background: linear-gradient(152deg, rgba(255, 255, 255, 0.04) 6.34%, rgba(255, 255, 255, 0.01) 45.79%, rgba(255, 255, 255, 0.01) 63.1%, rgba(255, 255, 255, 0.01) 75.05%, rgba(255, 255, 255, 0.04) 94.56%);
  backdrop-filter: blur(82.5px);
  position: relative;
}
.myTeamBox{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.myTeamLinks{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
  margin-right: 5px;
}
.teamLogos{
  width: 18px;
  cursor: pointer;
  opacity: 0.8;
}
.myTeamPhoto{
  margin-top: 15px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.myTeamPhoto img{
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
.myTeamInfo{
  border-radius: 10px;
  background: linear-gradient(1deg, #17161B 12.57%, rgba(20, 19, 24, 0.92) 31.3%, rgba(20, 19, 24, 0.78) 50.85%, rgba(20, 19, 24, 0.00) 99.16%);
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.teamName{
  color: #ECEAF4;
  font-family: "Instrument Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.teamPost{
  color: #ECEAF4;
  font-family: "Instrument Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}