/* app.css */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #000000 0%, #120b1e 80%, #000000 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow-x: hidden;
}

.achievements-container {

  width: auto;
  padding: 5vh 5vw;
}

.achievements-header {
  text-align: center;
  margin-bottom: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2vw;
}

.achievements-header h1 {
  font-size: 2.6rem;
  font-weight: 600;
  margin-left: 2vw;
  margin-right: 2vw;
  letter-spacing: 0.1vw;
  margin-bottom: 5vh;
  color: #fff;
}

.achievements-header img {
  width: 2vw;
  height: 3vw;
}
