@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background:rgba(12, 12, 12, 0.836);
  color: white;
}

* {
  box-sizing: border-box;
}
